doctype html
html
  head
    title Login
    meta(charset='UTF-8')
    style.
      @import url(./css/body.css);
      @import url(./css/background.css);
      @import url(./css/login_layout.css);
      @import url(./css/a.css);
  body
    #container
      #content
        #article
          br
          h1 Login Fail
          br
          a(href='/') home
          br
          br
