doctype html
html
  head
    title Photo1
    style.
      @import url(./css/a.css);
      @import url(./css/container.css);
      @import url(./css/photo.css);
      .content{
      margin : 0;
      text-align: center;
      vertical-align:middle;
      }
      .outer{
      padding : 20px;
      margin : auto;
      }
  body
    .content
      br
      br
      .outer
        .ver(style="background-image:url('./photo/ver4.jpg')")
        .hor(style="background-image:url('./photo/hor4.jpg')")
        .ver(style="background-image:url('./photo/ver5.jpg')")
      br
      .outer
        .hor(style="background-image:url('./photo/hor5.jpg')")
        .ver(style="background-image:url('./photo/ver6.jpg')")
        .hor(style="background-image:url('./photo/hor6.jpg')")
    br
    br
    div(style='text-align: center')
      h2
        a(href='photo1') 1
        &nbsp
        u 2
        &nbsp
        a(href='photo3') 3
