doctype html
html
  head
    title Photo1
    style.
      @import url(./css/a.css);
      @import url(./css/container.css);
      @import url(./css/photo.css);
      .content{
      margin : 0;
      text-align: center;
      vertical-align:middle;
      }
      .outer{
      padding : 20px;
      margin : auto;
      }
  body
    .content
      br
      br
      .outer
        .ver(style="background-image:url('./photo/ver7.jpg')")
        .hor(style="background-image:url('./photo/hor7.jpg')")
        .ver(style="background-image:url('./photo/ver8.jpg')")
      br
      .outer
        .hor(style="background-image:url('./photo/hor8.jpg')")
        .ver(style="background-image:url('./photo/ver9.jpg')")
        .hor(style="background-image:url('./photo/hor9.jpg')")
    br
    br
    div(style='text-align: center')
      h2
        a(href='photo1') 1
        &nbsp 
        a(href='photo2') 2
        &nbsp
        u 3
