doctype html
html
  head
    title Register
    meta(charset='UTF-8')
    style.
      @import url(./css/body.css);
      @import url(./css/background.css);
      @import url(./css/login_layout.css);
      @import url(./css/a.css);
  body
    #container
      #content
        #article
          h1 Sign in
          br
          form(action='register_process', method='post')
            | ID : 
            input(type='text', name='id')
            |                           PW : 
            input(type='password', name='pw')
            &nbsp&nbsp
            input(type='submit', value='Register')
          br
          a(href='/') home
          br
          br
