doctype html
html
  head
  body
      style.
        @import url(./css/container);
        @import url(./css/a.css);
        .content{
        margin : 0;
        text-align: center;
        vertical-align:middle;
        }
        .outer{
        padding : 20px;
        margin : auto;
        }
        .img{
        display : inline-block;
        background-color:white;
        margin-left : 20px;
        margin-right : 30px;
        margin-top : 20px;
        margin-bottom : 20px;
        width:75px;
        height:75px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        }
      br
      br
      table(style='margin-left : 7%; margin-right : 3%; border-spacing: 10%; border-collapse: separate; text-align: center; display : inline-block; float : left;')
        tbody
          tr
            td
              .img(style="background-image:url('./img/web.jpg')")
            td
              h2
                b   HTML  CSS  JavaScript
          tr
            td
              .img(style="background-image:url('./img/server.png')")
            td
              h2
                b
                  | Node.JS
                  b
              b
                b
          tr
            td
              .img(style="background-image:url('./img/os.jpg')")
            td
              h2
                b
                  | Winodws  macOS  Linux
                  b
              b
                b
          tr
            td
              .img(style="background-image:url('./img/blockchain.png')")
            td
              h2
                b
                  | Ethereum  Solidity
                  b
              b
                b
          tr
            td
              .img(style="background-image:url('./img/game.png')")
            td
              h2
                b
                  | Unity
                  b
      table(style='margin-left : 3%; margin-right : 7%; border-spacing: 5px; border-collapse: separate; text-align: center; display: inline-block; float : right;')
        tbody
          tr
            td
              .img(style="background-image:url('./img/coading.png')")
            td
              h2
                b
                  | C  C#  Java  Python
                  b
              b
                b
          tr
            td
              .img(style="background-image:url('./img/database.png')")
            td
              h2
                b
                  | MY-SQL  MongoDB
                  b
              b
                b
          tr
            td
              .img(style="background-image:url('./img/ai.png')")
            td
              h2
                b
                  | TensorFlow
                  b
              b
                b
          tr
            td
              .img(style="background-image:url('./img/pcb.png')")
            td
              h2
                b
                  | OrCad  Pads 
                  b
          tr
            td
              .img(style="background-image:url('./img/music.jpg')")
            td
              h2
                b
                  | Logic Pro
                  b
