.hor{
    display: inline-block;
    margin: 10px;
    width: 280px;
    height: 210px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.7;
    }
.ver{
    display: inline-block;
    margin: 10px;
    width : 280px;
    height: 210px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0.7;
    }
div:hover{
    opacity :1.0;
}